<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
         <link rel="stylesheet" href="/style.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    </head>
    <body>
      <hi class="heading"> Weather Application</hi>
      <form>
        <div class="form-group">
          <!--<label for=""></label> -->
       <input type="text" placeholder="Location" id="location" >
       <button type="submit">Search</button>
       <p></p>
      </form>
        </div>
       


      <footer>Created by Pawan Chaudhary</footer>

  <script src="/client.js"></script>

    </body>
</html>